html{
    box-sizing: border-box;

}
*{
    margin: 0;
    padding: 0;
}
.bg{
    background: url(../img/bg.png) center center/cover no-repeat;
    min-height: 100vh;
}
.container{
    margin: 0 auto;
    max-width: 1280px;
}
h1{
    padding-top: 36px;
    color:white;
    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    line-height: 44px;
    text-shadow: 0px 1px 1px #000000;
    text-align: center;
}
.cards_container{
    display:flex;
    justify-content: space-between;
    padding-top:104px ;

}
.card{
    position: relative;
}
.card_object{
    width: 320px;
    height: 509px;
    background: #F2F2F2;
    border: 4px solid #1698D9;
    border-radius: 12px;
    background:linear-gradient(130deg, transparent 20px, #F2F2F2 0);

}
